<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book Trading Club</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <!--Navbar-->
    <nav class="navbar navbar-dark primary-color-dark navbar-fixed-top">
        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="/">BookTradingClub</a>
                <!--Signup-->
                <ul class="nav navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="p-t-6">
    <!--Main layout-->
    <div class="container">
        <!--Heading Row-->
        <div class="row">
            <div class="col-md-12">
                <h2 class="h2-responsive text-xs-center">Register</h2>
            </div>
        </div>
        {{#message}}
        <!--Message row-->
        <div class="row">
            <div class="col-md-12">
                <p class="text-xs-center" style="color:#CC0000">{{message}}</p>
            </div>
        </div>
        {{/message}}
        <br/>
        <form action="/register" method="post">
        <!--Username/Password row-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <!--Username -->
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" name="username" class="form-control">
                    <label for="form2">Username</label>
                </div>
            </div>
            <div class="col-md-3">
                <!--Password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" name="password" class="form-control">
                    <label for="form2">Password</label>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!--Location row-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <!--State -->
                <div class="md-form">
                    <i class="fa fa-home prefix"></i>
                    <input type="text" name="state" class="form-control">
                    <label for="form2">State</label>
                </div>
            </div>
            <div class="col-md-3">
                <!--City -->
                <div class="md-form">
                    <i class="fa fa-home prefix"></i>
                    <input type="text" name="city" class="form-control">
                    <label for="form2">City</label>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!--Submit row-->
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
        </form>
    </div>    
</main>
<!--Footer-->
<footer class="page-footer primary-color-dark text-xs-center">
    <div class="container-fluid">©2016 Bonetti, Mauricio</div>
</footer>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>